*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  
body{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


.Parent{
    height: 60%;
    width: 70%;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    border-radius: 28px;
    /* border: none; */
}

.child1{
    /* background-color: pink; */
    height: 90%;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8%;
}

.child2{
    height: 90%;
    width: 50%;
    /* background-color: lightgreen; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.child2 form{
    /* background-color: lightyellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.child2 form .input1{
    margin-top: 10%;
}

.child2 form input{
    height: 15%;
    padding: 5px;
}

.child2 form input:focus{
    border: 2px solid #1a73e8;
    border-radius: 4px;  
    outline: none;
}

.button-div{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: flex-end;
}

.button-div>button{
    background-color: #1a73e8;
    color: white;
    height: 37px;
    width: 80px;
    border-radius: 18px;
    border: none;
}

footer{
    /* background-color: lightsalmon; */
    width: 68%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

footer>select{
    background-color: aliceblue;
    border: none;
}

footer .links{
    /* background-color: lightblue; */
    width: 20%;
    display: flex;
    justify-content: space-between;
}

footer .links a{
    text-decoration: none;
    color: black;
}

footer .links a:hover{
    text-decoration: underline;
    color: blue;
}

@media (min-width:1441px) and (max-width:2560px){
    .Parent{
    max-height: 60%;
    max-width: 60%;
    font-size: 50px;
    border: none;
    }

    .child1 h1{
        font-size: 1em;
    }

    .child1 p{
        font-size: 0.7em;
    }

    .child1 img{
        width: 2.5em;
    }

    .child2{
        font-size: 50px;
    }

    .child2 form input{
    height: 8em;
    padding: 2em;
    }

    .child2 form input::placeholder{
    font-size: 2em;
    }

.button-div>button{
    height: 5em;
    width: 11em;
    font-size: 15px;
    border-radius: 60px;
    }

 footer{
    height: 5%;
    width: 60%;
    /* background-color: aqua; */
   }

   footer>select{
    font-size: 25px;
   }

    footer .links{
        /* background-color: #1a73e8; */
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 30px;
    }
}



@media (max-width:1024px) {

    .Parent {
        border: 1px solid white;
        min-width: 70%;
    }

    .child1 img {
        width: 50px;
    }

    footer {
        /* background-color: #1a73e8; */
        min-width: 70%;
        padding: 5px;
    }

    footer .links {
        /* background-color: seagreen; */
        width: 35%;
        justify-content: space-evenly;
    }
}

@media (max-width:1440px) {
   
   .Parent{
    height: 60%;
    width: 60%;
    border: none;
   }

   footer{
    height: 5%;
    width: 60%;
   };
}

@media (min-width:426px) and (max-width:768px) {

    body {
        background-color: white;
    }

    .Parent{
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border-radius: 28px; */
    /* border: none; */
}

.child2 form input{
    height: 12%;
    padding: 5px;
}

footer{
    /* background-color: lightsalmon;        */
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

footer select {
    background-color: white;
}

footer {
    margin-bottom: 5px;
}

}

@media (max-width:425px) {

    body {
        background-color: white;
    }

    .Parent {
        /* background-color: blueviolet; */
        flex-direction: row;
        height: 100%;
        flex-wrap: wrap;
        width: 100%;
        border: none;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .child1 {
        width: 100%;
        height: 25%;
        /* background-color: aqua; */
    }

    .child1 span img{
        width: 70px !important;
    }

    .child2 {
        width: 100%;
        height: 50%;
        /* background-color: yellow; */
        justify-content: space-between;
        padding-top: 0%;

    }

        .child2 form input {
            height: 22%;
            padding: 5px;
        }

        .child2 form .input1 {
        margin-top: 0%;
    }

.child2 form input::placeholder {
    font-size: 1.3em;
}

.child2 button{
    margin-top: 8%;
}

footer {
    width: 100%;
    padding: 0em 1em;
    /* background-color: aqua; */
}

footer select {
    background-color: white;
}

footer .links {
    width: 40%;
}

}


@media (max-width:320px) {

    .Parent{
        min-width: 320px;
        min-height: 532px;
    }

    .child2{
        height: 40%;
    }

    footer {
        padding: 0em 0.5em;
    }

    footer select {
        font-size: small;
    }

    footer .links {
        font-size: small;
    }
}