*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  
body{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


.Parent{
    height: 60%;
    width: 70%;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    border-radius: 28px;
    /* border: none; */
}

.child1{
    background-color: pink;
    height: 90%;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8%;
}

.child2{
    height: 90%;
    width: 50%;
    background-color: lightgreen;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.child2 form{
    background-color: lightyellow;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.child2 form .input1{
    margin-top: 10%;
}

.child2 form input{
    height: 15%;
    padding: 5px;
}

.child2 form input:focus{
    border: 2px solid #1a73e8;
    border-radius: 4px;  
    outline: none;
}

.button-div{
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
}

.button-div>button{
    background-color: #1a73e8;
    color: white;
    height: 37px;
    width: 80px;
    border-radius: 18px;
    border: none;
}

footer{
    background-color: lightsalmon;
    width: 68%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

footer>select{
    background-color: aliceblue;
    border: none;
}

footer .links{
    background-color: lightblue;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

footer .links a{
    text-decoration: none;
    color: black;
}

footer .links a:hover{
    text-decoration: underline;
    color: blue;
}

@media (min-width:1440px){
   
   .Parent{
    height: 60%;
    width: 60%;
   }

   footer{
    height: 5%;
    width: 60%;
   };
}

@media (max-width:768px){

    .Parent{
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border-radius: 28px; */
    /* border: none; */
}

.child2 form input{
    height: 12%;
    padding: 5px;
}

footer{
    background-color: lightsalmon;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

}
